version: "3.8"
services:
  mongo:
    image: mongo:6.0
    container_name: people-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    container_name: people-redis
    ports:
      - "6379:6379"

  app:
    build: .
    image: people-app:latest
    container_name: people-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_HOST=mongo
      - SPRING_DATA_MONGODB_PORT=27017
      - SPRING_DATA_MONGODB_DATABASE=people_db
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
    depends_on:
      - mongo
      - redis

volumes:
  mongo-data:
